.about-section {
  margin: 20rem 0;
  &__top {
    font-size: 4rem;
    text-align: center;
  }
  &__bottom {
    width: 30%;
    margin: 3rem auto 5rem auto;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgb(116, 116, 116);
    text-align: center;
  }
}
