.parallax-section-container {
  width: 55%;
  margin: auto;
  height: 70vh;

  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
