.parallax-section-container {
  position: relative;
  &__img-wrapper {
    width: 55%;
    margin: auto;
    height: 70vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  &__content {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-evenly;
    &--header {
      font-size: 2.5rem;
    }
    &--details {
      text-align: center;
      color: rgb(117, 116, 116);
      line-height: 2.5rem;
      padding: 0 2rem;
      font-size: 1.5rem;
    }
  }
}
